* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: azure;
}

:root {
    --board-height: 530px;
    --board-width: 530px;
    --box-height: 40px;
    --box-width: 40px;
    --border-width: 1px;
    --grid-gap:0rem;
    --box-margin: 6px;
    --board-margin:20px;
    --extra-box-margin: 30px;
    --box-font-size:20px;
    --btn-height: 40px;
    --btn-width: 70px;
    --btn-fontsize: 15px;
    --btn-padding: 5px;
    --btn-margin: 10px;
    --btn-border-radius: 10px;
}

.center {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-gap: var(--grid-gap);
    border: var(--border-width) solid black;
    height: var(--board-height);
    width: var(--board-width);
    justify-content: center;
    align-items: center;
}

.box {
    height: var(--box-height);
    width: var(--box-width);
    border: var(--border-width) solid black;
    margin: var(--box-margin);
    background-color: cornflowerblue;
    font-size: var(--box-font-size);
    display: flex;
    justify-content: center;
    align-items: center;
}
.inp{
    height: var(--box-height);
    width: var(--box-width);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.board{
    margin: var(--board-margin);
    background-color: rgb(198, 198, 233);
}

.btn{
    height: var(--btn-height);
    width: var(--btn-width);
    font-size: var(--btn-fontsize);
    padding: var(--btn-padding);
    margin: var(--btn-margin);
    background-color: cornflowerblue;
    border-color: blue;
    border-radius: var(--btn-border-radius);
}
.box-input{
    height: var(--box-height);
    width: var(--box-width);
    font-size: var(--box-font-size);
    text-align: center;
    border: var(--border-width) black;
}
.sp1{
    margin-top: var(--extra-box-margin);
}
.sp2{
    margin-left: var(--extra-box-margin);
}
#result{
    color: green;
}
